body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.dropdown-scroll {
	max-height: 50vh;
	overflow-y: auto;
}

.container {
	height: 90vh;
}

#board {
	display: flex;
	height: 90vh;
	overflow-x: scroll;
}

#task-list {
	margin-top: 20px;
}

.fas.fa-trash-alt {
	margin-left: 10px;
	cursor: pointer;
	color: red;
}
