body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.navbar-custom {
	background-color: #00e88f;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
	color: #fff;
}

.dropdown-scroll {
	max-height: 50vh;
	overflow-y: auto;
}

.container {
	height: 90vh;
}

#board {
	display: flex;
	height: 90vh;
	overflow-x: scroll;
}

.column-item {
	float: left;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	flex: 1;
	width: 500px;
	background-color: #005de8;
}

.column-item {
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin: 10px;
	padding: 0;
	width: 300px;
}

.column-header {
	background-color: #00e88f;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

.column-body {
	padding: 10px;
	min-height: 100px;
	background-color: #fff;
}

.task-item {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #e9ecef;
	border-radius: 5px;
}

#task-list {
	margin-top: 20px;
}
.task-item {
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
	border-radius: 5px;
}

.fas.fa-trash-alt {
	margin-left: 10px; /* Adiciona um espaço entre o título e o ícone */
	cursor: pointer; /* Indica que o ícone é clicável */
	color: red; /* Cor para o ícone, você pode mudar conforme necessário */
}
